.container{
  margin: 200px;
  margin-left: 23%;
}

*{
  margin: 5px;
}

.column-izq, .column-center, .column-der{
  float: left;
}

.der{
  float: left;
}

.izq {
  display: flex;
  flex-direction: column;
}

.column-center{
  display: flex;
  flex-direction: column;
}

button{
  margin: 5px;
}

.botones{
  background-color: rgb(190, 158, 253);
  color: white;
  justify-content: space-between;
}